# path to the backup repository
export RESTIC_REPOSITORY=<PATH_TO_REPO>
# password for the backup
export RESTIC_PASSWORD=<PASSWORD>
# restic forget configuration
# https://restic.readthedocs.io/en/stable/060_forget.html#customize-pruning
export RESTIC_FORGET_CONFIG="--keep-within 24h --keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 75 --prune"
